:root {
  /* colors */
  --default-color: #D8D8D8;
  --houver-color: #6522C1;
  --pressed-color: #3D1574;
  --background-color: #F1ECF8;

  /* borders */
  --default-borders: 2px;
  --houver-borders: 3px;
  --pressed-borders: 4px;
}

html{
  margin: 0px;
  padding: 0px;
}

body {
  padding: 5%;
  margin: 0px;
}

.app {
  display: grid;
  align-items: stretch;
  justify-content: center;
  grid-template-columns: 400px 400px;
  grid-template-rows: 400px 400px;
}

